#resForm {
  max-width: 800px;
  padding: 15px;
  background: #69abc5;
  border: 1px solid #aaa;
}
#resForm label, #resForm input, #resForm select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}
#resForm input[type="submit"] {
  background: #32bb32;
  color: rgb(0, 0, 0);
  border: 0;
  padding: 15px 0;
  margin-top: 15px;
  cursor: pointer;
  font-size: 24px;
}
div.ok, div.err { 
  padding: 5px; 
  font-weight: bold;
}
div.ok { 
  background: #9cffbb; 
  border: 1px solid #1ca526;
}
div.err { 
  background: #ffe0e0; 
  border: 1px solid #bb1919;
}
html, body { font-family: arial, sans-serif; }